html,
body {
  padding: 0px;
  margin: 0px;
  font-family: "SUIT Variable", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f4f6;
  font-size: 6px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
